{% extends '_base.html' %}
{% block title %} View Todos {% endblock title %}
{% block content %} 
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Details</th>
        <th>Completed</th>
      </tr>
    </thead>
    {% for todo in todos %}
      <tr>
        <td>{{ todo.name }}</td>
        <td>{{ todo.details }}</td>
        <td>
          <form action="/todo/toggle/{{ todo.id }}/" method="post">
            {% csrf_token %}
            {% if todo.completed %}
              <button class="btn btn-success" type="submit">
                Yes
              </button>
            {% else %}
              <button class="btn btn-danger" type="submit">
                No
              </button>
            {% endif %}
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
